h1, h3, h4, h5, h6 {
 	text-align: center;
	color: blueviolet;
	font-size: 45px;
}

body {
    background-color: lightcyan;
}

h2 {
	text-align:center;
	color: indianred;
	font-size: 25px;
}

.imgwood {
	width: 350px;
	height: 254px;
	display: block;
	box-sizing: border-box;
	margin: 0 auto;
}

.txtwood {
	width: 164px;
	height: 17px;
	margin: 0 auto;
}

.Wood {
	font-style: italic;
	text-align: center;
}